.logo{
    height: 50px ;
    margin-left: 15px;
}
.dropdown-button{
    height: 25px;
}

.navbar {
    position: relative;
}
.search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

