<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cloud storage</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<th:block th:replace="~{header :: header}"/>

<div th:if="${isAuthenticated}">

    <div class="row">

        <div class="col-5">
            <div th:replace="~{modal/uploadFile :: uploadFileButton}"></div>
            <div th:replace="~{modal/uploadFile :: uploadFileModal}"></div>


            <div th:replace="~{modal/uploadFolder :: uploadFolderButton}"></div>
            <div th:replace="~{modal/uploadFolder :: uploadFolderModal}"></div>

            <div th:replace="~{modal/emptyFolder :: createEmptyFolderButton}"></div>
            <div th:replace="~{modal/emptyFolder :: createEmptyFolderModal}"></div>


            <div th:replace="~{modal/renameFile :: renameFileModal}"></div>
            <div th:replace="~{modal/renameFolder :: renameFolderModal}"></div>
        </div>

        <div class="col-7 mt-3">
                <span th:each="breadcrumb, iterStat : ${breadcrumbs}">

                    <span th:if="${iterStat.last}">
                         <span class="fs-5" th:text="${breadcrumb.name}"></span>
                    </span>
                    <span th:unless="${iterStat.last}">
                        <a class="link-offset-2 link-underline link-underline-opacity-0 fs-5"
                           th:href="@{|/?path=${breadcrumb.url}|}" th:text="${breadcrumb.name}"></a>
                        <span> / </span>
                    </span>
                </span>
        </div>
    </div>


        <div  th:if="${error}" class="alert alert-danger m-2">
            <span th:text="${error}"></span>
        </div>


    <div class="ms-5 me-5 mt-2 mb-5">
        <div class="container-fluid bg-body-secondary rounded p-2 text-center">

            <!-- Files Section -->
            <div>
                <div class="row">
                    <div class="col-md-2" th:each="object : ${objects}">

                        <a th:if="${!object.isFile}"
                           th:href="@{|/?path=${object.getPath()}|}">
                            <img th:src="@{/images/folder.png}" alt="folderIcon"/>
                        </a>
                        <img th:if="${object.isFile}" th:src="@{/images/file.png}" alt="fileIcon"/>

                        <img th:src="@{/images/dropdown-button.png}"
                             class="dropdown-toggle dropdown-button position-absolute" type="button"
                             data-bs-toggle="dropdown" aria-expanded="false" alt="dropdownButton"/>
                        <ul class="dropdown-menu">
                            <li>

                                <a th:if="${object.isFile}" type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#renameFile"
                                   th:data-object-name="${object.name}" th:data-object-path="${object.path}" th:data-object-owner="${object.owner}">
                                    Rename
                                </a>
                                <a th:if="${!object.isFile}" type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#renameFolder"
                                   th:data-object-name="${object.name}" th:data-object-path="${object.path}" th:data-object-owner="${object.owner}">
                                    Rename
                                </a>
<!--                                <div th:replace="~{modal/rename :: renameObjectButton}"></div>-->
<!--                                <a class="dropdown-item" href="#">Rename</a>-->
                            </li>

                            <li>
                                <form th:if="${object.isFile}" th:method="GET" th:action="@{/file}"
                                      th:object="${objectRequestDto}">
                                    <input th:name="owner" th:value="${object.owner}" type="hidden">
                                    <input th:name="path" th:value="${object.path}" type="hidden">
                                    <input th:name="name" th:value="${object.name}" type="hidden">
                                    <button class="dropdown-item" type="submit">Download</button>
                                </form>
                                <form th:if="${!object.isFile}" th:method="GET" th:action="@{/folder}"
                                      th:object="${objectRequestDto}">
                                    <input th:name="owner" th:value="${object.owner}" type="hidden">
                                    <input th:name="path" th:value="${object.path}" type="hidden">
                                    <input th:name="name" th:value="${object.name}" type="hidden">
                                    <button class="dropdown-item" type="submit">Download</button>
                                </form>

                            </li>

                            <li><hr class="dropdown-divider"></li>
                            <li>

                                <form th:if="${object.isFile}" th:method="POST" th:action="@{/file}"
                                      th:object="${objectRequestDto}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input th:name="owner" th:value="${object.owner}" type="hidden">
                                    <input th:name="path" th:value="${object.path}" type="hidden">
                                    <input th:name="name" th:value="${object.name}" type="hidden">
                                    <button class="dropdown-item" type="submit">Delete</button>
                                </form>
                                <form th:if="${!object.isFile}" th:method="POST" th:action="@{/folder}"
                                      th:object="${objectRequestDto}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input th:name="owner" th:value="${object.owner}" type="hidden">
                                    <input th:name="path" th:value="${object.path}" type="hidden">
                                    <input th:name="name" th:value="${object.name}" type="hidden">
                                    <button class="dropdown-item" type="submit">Delete</button>
                                </form>

                            </li>
                        </ul>
                        <div class="m-2 " th:text="${object.getName()}"/>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/renameFile.js}"></script>
<script th:src="@{/js/renameFolder.js}"></script>

</body>
</html>
